/* ==UserStyle==
@name			Mail.ru Dark Transparent Theme
@namespace		github.com/openstyles/stylus
@version		1.1
@description	Темная полупрозрачная тема для Mail.ru
@author			Delmor_S
]
@preprocessor   stylus
==/UserStyle== */

@-moz-document url-prefix("https://mail.ru/")
{
	/* MAIN MAIL.RU PAGE */
	body {
		background-image: url(https://i.ibb.co/8gyFp09/clouds.jpg) !important;
		background-repeat: no-repeat !important;
		background-attachment: fixed;
	}
	
	div.mailbox-container {
		background-color: rgba(0, 0, 0, 0) !important;
	}
	
	div.tabs,
	div.micro-widgets,
	a.horoscope,
	div.tv-widget,
	div.weather,
	div#mailbox {
		background-color: rgba(0, 0, 30, 0.55) !important;
	}    
	
	.news-main__title,
	div.rates *,
	a.tabs__item {
		font-family: arial !important;
		color: white !important;
	}
	
	div.day-info * {
		font-family: arial !important;
	}
	
	.news-main__desc {
		font-family: arial !important;
	}
		
	.account__email:after, 
	.account__name:after, 
	.list__item:after {
		background: none !important;
	}
	
	.news-item:not(.is-unified-news-design).is-highlight:before {
		animation: none !important;
	}
	
	div.micro-widgets {
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
		padding-left: 15px !important;
		padding-top: 10px !important;
	}
	
	div.tabs {
		padding-left: 20px !important;
		padding-bottom: 5px !important;
		
		top: -5px !important;
		border-bottom-left-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
	
	.grid__ccol {
		background-color: rgba(0, 0, 30, 0.55) !important;
		padding-left: 20px !important;
		padding-top: 7px !important;
		padding-bottom: 23px !important;
		
		max-width: 740px !important;
		
		backdrop-filter: blur(4px) !important;
		
		border-top-left-radius: 10px !important;
		border-top-right-radius: 10px !important;
		border-bottom-left-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
	
	.grid__rcol {
		left: 50px;
	}

	.news-item_regular {
		font-family: arial !important;
		
	}
	
	/* Белый цвет для надписей */
	div.tv-widget__title,
	p.title,
	a.news-item-link,
	a.list__item,
	div.account-inbox,
	div.account__name {
		color: white !important;
	}
}

